@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background: url(https://images.pexels.com/photos/210607/pexels-photo-210607.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center; background-size: cover; ">
    <div class="container" style="height: 150px;">...</div>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h2>Welcome to TradingPub</h2>
        <p>
            Trading application that helps improve
            your knowledge, skills in making transactions
            by being part of a big community.
        </p>
        <p>
            <a href="/Traders">Start knowing the comumunity</a>
        </p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Make the first step</h2>
        <p>You can create your account online and start making your first transactions and market analysis.</p>
        <p>
            <a href="/Identity/Account/Register">Create an account</a>
        </p>
    </div>
    <div class="col-md-4" style="text-align:center">
        <h2>Enroll in the community</h2>
        <p>You can start to join the comumnity and start learning, sharing your knwoledge, ideas and strategies.</p>
        <p>
            <a href="/Identity/Account/Login">Login to your account</a>
        </p>
    </div>
</div>