@model TradingPub.Models.CryptoTransaction

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Crypto Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraderID" class="control-label"></label>
                <select asp-for="TraderID" class="form-control" asp-items="ViewBag.TraderID"></select>
                <span asp-validation-for="TraderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trader.Name" class="control-label"></label>
                <input asp-for="Trader.Name" class="form-control" />
                <span asp-validation-for="Trader.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CryptoID" class="control-label"></label>
                <select asp-for="CryptoID" class="form-control" asp-items="ViewBag.CryptoID"></select>
                <span asp-validation-for="CryptoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crypto.Name" class="control-label"></label>
                <input asp-for="Crypto.Name" class="form-control" />
                <span asp-validation-for="Crypto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
