@model TradingPub.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h4>Add Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trader.Name" class="control-label"></label>
                <input asp-for="Trader.Name" class="form-control" />
                <span asp-validation-for="Trader.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraderID" class="control-label"></label>
                <select asp-for="TraderID" class="form-control" asp-items="ViewBag.TraderID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quotation.Name" class="control-label"></label>
                <input asp-for="Quotation.Name" class="form-control" />
                <span asp-validation-for="Quotation.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuotationID" class="control-label"></label>
                <select asp-for="QuotationID" class="form-control" asp-items="ViewBag.QuotationID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
